#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("night_horror"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.creature.biped_large.night_horror"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)
